<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description"
        content="MMA-Master it's a world-class mixed martial arts gym located in Dublin 2 with the word best instructors and top-class equipment with a huge range of classes and a different schedule for amateur and professionals as we have a word champion training with us and many other professional fighters">
    <!-- link Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type=text/css />
    <!-- link Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        typ="text/css">
    <!-- link Css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <!-- top navbar -->
            <div class="nav-wrapper grey darken-4">
                <a href="{{ url_for('home') }}" class="brand-logo"><i
                        class="fas fa-star"></i><span>CustomerReviews</span></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars toggle"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="{{ url_for('home') }}">Home</a></li>
                    <li><a href="{{ url_for('for_business') }}">For Businesses</a></li>
                    {% if session.user %}
                    <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    <li><a href="{{ url_for('profile', username=session['user']) }}"><i class="fas fa-user"></i></a>
                    </li>
                    {% else %}
                    <li><a href="{{ url_for('register') }}">Register</a></li>
                    <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- mobile sidenav -->
        <ul class="sidenav  grey darken-3" id="mobile-demo">
                <li><a class="black-text" href="{{ url_for('home')}}">Home</a></li>
                <li><a class="black-text" href="{{ url_for('for_business') }}">For Businesses</a></li>
                {% if session.user %}
                <li><a class="black-text" href="{{ url_for('logout') }}">Logout</a></li>
                <li><a class="black-text bottom-border"
                        href="{{ url_for('profile', username=session['user']) }}">Profile</a></li>
                {% else %}
                <li><a class="black-text" href="{{ url_for('register') }}">Register</a></li>
                <li><a class="black-text bottom-border" href="{{ url_for('login') }}">Login</a></li>
                {% endif %}
        </ul>
    </header>
    <section>
        <!-- flash messages -->
        {% with messages = get_flashed_messages(category_filter=["category1"]) %}
        {% if messages %}
        {% for message in messages %}
        <div class="row">
            <h4 class=" white-text center-align light-blue accent-4">
                {{ message }}
            </h4>
        </div>
        {% endfor %}
        {% endif %}
        {% endwith %}
    </section>

    {% block content %}
    {% endblock %}

    <footer class="page-footer grey darken-4">
        <div class="wrapper-container">
            <div class="row">
                <div class="col s12">
                    <div class="row">
                        <div class="col s12">
                            <h4 class="white-text footer-heading"><i
                                    class="fas fa-star green-text"></i><span>CustomerReviews</span>
                            </h4>
                        </div>
                    </div>
                    <p class="grey-text text-lighten-4">Whether you need reviews for your services, products, or
                        business locations — Customer Reviews help you drive more traffic from paid and organic search
                        results, and make the purchasing decision easy once those shoppers get to your site..</p>
                </div>
                <div class="col s12 social-media">
                    <div class="row">
                        <div class="col s12">
                            <h5 class="white-text footer-heading">Join Us on Social Media</h5>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col m2 s4">
                            <a class="white-text" href="https://www.facebook.com/" target="_blank" aria-label="facebook"
                                rel="noreferrer"><i class="fab fa-facebook-f"></i></a>
                        </div>
                        <div class="col m2 s4">
                            <a class="white-text" href="https://twitter.com/?lang=en" target="_blank"
                                aria-label="youtube" rel="noreferrer"><i class="fab fa-twitter"></i></a>
                        </div>
                        <div class="col m2 s4">
                            <a class="white-text" href="https://www.youtube.com " target="_blank" aria-label="youtube"
                                rel="noreferrer"><i class="fab fa-youtube"></i></a>
                        </div>
                        <div class="col m2 s4">
                            <a class="white-text" href="https://www.instagram.com/" target="_blank"
                                aria-label="Instagram" rel="noreferrer"><i class="fab fa-instagram"></i></a>

                        </div>
                        <div class="col m2 s4">
                            <a class="white-text" href="https://www.pinterest.ie/" target="_blank" aria-label="youtube"
                                rel="noreferrer"><i class="fab fa-pinterest-p"></i></a>
                        </div>
                        <div class="col m2 s4">
                            <a class="white-text" href="https://www.linkedin.com/feed/" target="_blank"
                                aria-label="youtube" rel="noreferrer"><i class="fab fa-linkedin-in"></i></a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col s12 footer-links">
                <div class="row">
                    <div class="col s12">
                        <h5 class="white-text footer-heading">Navigation</h5>
                    </div>
                </div>
                <div class="row">
                        <div class="col m3 s5 offset-s1 footer-nav">
                                <a class="white-text" href="{{ url_for('home') }}">Home</a></li>
                        </div>
                        <div class="col m3 s6 footer-nav">
                                <a class="white-text inline_block" href="{{ url_for('for_business') }}"><span>For</span>
                                    Businesses</a>
                        </div>
                        {% if session.user %}
                        <div class="col m3 s5  offset-s1 footer-nav">
                                <a class="white-text"
                                    href="{{ url_for('profile', username=session['user']) }}">Profile</a>
                        </div>
                        <div class="col m3 s6 footer-nav">
                                <a class="white-text" href="{{ url_for('logout') }}">Logout</a>
                        </div>
                        {% else %}
                        <div class="col m3 s5  offset-s1 footer-nav">
                                <a class="white-text" href="{{ url_for('register') }}">Register</a>
                        </div>
                        <div class="col m3 s6 footer-nav">
                                <a class="white-text" href="{{ url_for('login') }}">Login</a>
                        </div>
                        {% endif %}
                </div>
            </div>
        </div>
        <div class="footer-copyright grey darken-3">
            <div class="container">
                © <span id="copyright"></span> Copyright <i class="fas fa-star green-text"></i>CustomerReviews
            </div>
        </div>
    </footer>

    <!-- JQuerie -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Materialize script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- link to script.js -->
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>
