<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <!-- link Font-awesome -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css"
        integrity="sha512-Fo3rlrZj/k7ujTnHg4CGR2D7kSs0v4LLanw2qksYuRlEzO+tcaEPQogQ0KaoGN26/zrn20ImR1DfuLWnOo7aBA=="
        crossorigin="anonymous" referrerpolicy="no-referrer" type=text/css />
    <!-- link Materialize -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css"
        typ="text/css">
    <!-- link Css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}" type="text/css">
    {% block styles %}
    {% endblock %}
    <title>Document</title>
</head>

<body>
    <header>
        <nav>
            <!-- top navbar -->
            <div class="nav-wrapper grey darken-4">
                <a href="{{ url_for('home') }}" class="brand-logo"><i
                        class="fas fa-star"></i><span>CustomerReviews</span></a>
                <a href="#" data-target="mobile-demo" class="sidenav-trigger"><i class="fas fa-bars toggle"></i></a>
                <ul class="right hide-on-med-and-down">
                    <li><a href="#">Home</a></li>
                    <li><a href="#">About</a></li>
                    {% if session.user %}
                        <li><a href="#">Logout</a></li>
                        <li><a href="#"><i class="fas fa-user"></i></a></li>
                    {% else %}
                        <li><a href="#">Register</a></li>
                        <li><a href="#">Login</a></li>
                    {% endif %}
                </ul>
            </div>
        </nav>
        <!-- mobile sidenav -->
        <ul class="sidenav grey lighten-5" id="mobile-demo">
            <div class="li-wrapper">
                <li><a class="black-text" href="{{ url_for('home')}}"><i class="fas fa-star green-text"></i></a></li>
                <li><a class="black-text" href="{{ url_for('home')}}">Home</a></li>
                <li><a class="black-text" href="#">About</a></li>
            {% if session.user %}
                <li><a class="black-text" href="#">Logout</a></li>
                <li><a class="black-text bottom-border" href="#">Profile</a></li>
            {% else %}
                <li><a class="black-text" href="#">Register</a></li>
                <li><a class="black-text bottom-border" href="#">Login</a></li>
            {% endif %}
            </div>
        </ul>
    </header>


        {% block content %}
        {% endblock %}
  
    <!-- JQuerie -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
    <!-- Materialize script -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <!-- link to script.js -->
    <script src="{{ url_for('static', filename='js/script.js')}}"></script>
    {% block scripts %}
    {% endblock %}
</body>

</html>