{% extends "base.html" %}
{% block content %}

<h3 class="center-align  light-blue-text text-accent-4">Edit Password</h3>
<div class="row">
    <!-- edit password form -->
    <form class="col m8 s10 offset-m2 offset-s1 form-border" method="POST" action="{{ url_for('edit_password', user_id=user._id) }}">
        <!-- password -->
        <div class="row">
            <div class="input-field col s12">
                <i class="fas fa-lock prefix light-blue-text taxt-accent-4"></i>
                <input id="password" type="password" value="password" name="password" minlength="4" maxlength="14" pattern="^[a-zA-Z0-9]{5,15}$" class="validate" required>
                <label for="password">Enter A New Password</label>
            </div>
        </div>
        <!-- submit button -->
        <div class="row">
                <button class="col s10 offset-s1 btn light-blue accent-4" type="submit" name="action">change Password
                    <i class="fas fa-sign-in-alt"></i>
                </button>
        </div>
    </form>
</div>
<div class="row">
    <div class="col m8 s10 offset-m2 offset-s1 center-align">
        <p> Already Registred? <a href="{{ url_for('login') }}" class="light-blue-text text-accent-4">Go to Log In Page</a></p>
    </div>
</div>


{% endblock %}