{% extends "base.html" %}
{% block content %}
<div class="business-banner">
    <a href="{{ url_for('home') }}" class="small-screen-logo white-text"><i
        class="fas fa-star"></i><span>CustomerReviews</span></a>
    <div class="for_business-heading">
        <h1>Turn reviews into traffic, sales, and customer loyalty.</h1>
    </div>

{% if session["user"] %}
      <a id="business-banner-link" href="{{ url_for('add_company')}}" class="btn">Add Company</a>
{% else %}

        <a id="business-banner-link" href="{{ url_for('login')}}" class="btn">Add Company</a>

{% endif %}
</div>
<!-- benefits -->
<div class="content-text grey lighten-5">
    <h2 class="center-align grey-text text-darken-1">Benefits of Adding your business.</h2>
    <hr>
    <div class="row">
        <div class="col s10 m4 offset-s1 offset-m1 content-text-item">
            <h5 class="grey-text text-darken-1">Reviews onsite take sales to new heights.</h5>
            <p>Collecting and displaying reviews across your website has never been so easy. Sit back, relax, and watch
                your online sales and organic traffic skyrocket.</p>
        </div>
        <div class="col s10 m4 offset-s1 offset-m1 content-text-item">
            <h5 class="grey-text text-darken-1">Keep your customers coming back for life.</h5>
            <p>You've built a trusted brand. You're attracting more customers. Now you can apply practical learnings
                from your review data to drive customer loyalty.</p>
        </div>
    </div>
    <div class="row">
        <div class="col s10 m4 offset-s1 offset-m1 content-text-item">
            <h5 class="grey-text text-darken-1">Star ratings in the right place, at the right time.</h5>
            <p>Whether you need reviews for your services, products, or business locations — Customer reviews help
                you drive more traffic from paid and organic search results, and make the purchasing decision easy
                once those shoppers get to your site.</p>
        </div>
        <div class="col s10 m4 offset-s1 offset-m1  content-text-item">
            <h5 class="grey-text text-darken-1">Climb to the top of search.</h5>
            <p> Earn stars in Google that drive more visitors to your site from both organic and paid search, with
                Trustpilot, an official Google review partner.</p>
        </div>
    </div>
    <div class="row content-text-last">
        <div class="col s11 m8 offset-s1 offset-m2 content-text-last">
            <p>"One of our biggest challenges has been our changing customer demographics. We're moving from being a
                purely catalog company to an omnichannel. Trustpilot helps with understanding these new customers and
                their expectations."</p>
        </div>
    </div>


</div>


{% endblock %}
