{% extends "base.html" %}
{% block content %}

<div class="header-image">
    <a href="{{ url_for('home') }}" class="small-screen-logo white-text"><i
            class="fas fa-star"></i><span>CustomerReviews</span></a>
    <form class="serach-form" method="POST" action="{{url_for('search')}}">
        <label class="search-bar-label" name="company-name" for="company-name">Company Name</label>
        <div class="input-wrapper">
            <input type="text" id="company-name" name="company-name">
            <button id="serach-submit" class="serch-button btn light-blue accent-4" type="submit required"
                name="action"><span>Search</span>
                <i class="fas fa-sign-in-alt sign-in-icon"></i><i class="fas fa-search search-icon"></i>
            </button>
        </div>
    </form>
    <div class="header-heading">
        <h1>Every review tells a story.</h1>
    </div>
</div>
<div class="few-words-wrapper">
    <div class="few-words">
        <p><span class="balck-text">Sharing your experiences helps others make better choices</p>
    </div>
</div>


<div class="hottest-section-heding center-align">
    <h4 class="blue-text text-lighten-1">Hotest Companies<i class="fas fa-fire orange-text text-darken-1"></i></h4>
</div>


<div class="hottest-companies">
    <div class="hottest-companies-disclaimer  grey lighten-5">
        <p><span>Please note</span> that these are the most reviewed companies, it does not mean that they have the
            highest rating.</p>
    </div>


    {% for company in hottest_companies %}
    <div class="row">
        <div class="col m8 s10 offset-m2 offset-s1 grey lighten-5 hot-company">
            <div class="row">
                <div class="col s10 offset-s1">
                    <h5><i class="fas fa-fire orange-text text-darken-1"></i><a class="black-text" href="{{ url_for('reviews_results', company_id=company._id) }}"> Company Name:<span
                                class="upper-case blue-text">{{ company.company_name }}</span></a></h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col s10 offset-s1">
                    <p>Number of reviews: <span class="count">{{ company.reviews_count}}</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1">
                    <p>Description: <span class="upper-case">{{ company.description}}</span></p>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
