{% extends "base.html" %}
{% block content %}

<div class="header-image">
    <form class="serach-form" method="POST" action="{{url_for('search')}}">
        <label class="search-bar-label" name="company-name" for="company-name">Company Name</label>
        <div class="input-wrapper">
            <input type="text" id="company-name" name="company-name">
            <button id="serach-submit" class="serch-button btn light-blue accent-4" type="submit required"
                name="action"><span>Search</span>
                <i class="fas fa-sign-in-alt sign-in-icon"></i><i class="fas fa-search search-icon"></i>
            </button>
        </div>
    </form>
    <div class="header-heading">
        <h1>Every review tells a story.</h1>
    </div>
</div>
<div class="flash3">
    <!-- flash messages -->
    {% with messages = get_flashed_messages(category_filter=["category3"]) %}
    {% if messages %}
    {% for message in messages %}
    <div class="row">
        <h4 class=" black-text center-align">
            {{ message }}
        </h4>
    </div>
    {% endfor %}
    {% endif %}
    {% endwith %}
</div>
<div class="few-words black-text grey lighten-5">
    <p><span class="balck-text">CustomerReviews</span> open to every company and consumer everywhere. Sharing your
        experiences helps others make better choices and companies up their game.</p>
</div>
<div class="hottest-section-heding center-align">
    <h4 class="blue-text text-lighten-1">Hotest Companies<i class="fas fa-fire orange-text text-darken-1"></i></h4>
</div>


<div class="hottest-companies">
    <div class="hottest-companies-disclaimer  grey lighten-5">
        <p><span>Please note</span> that these are the most reviewed companies, it does not mean that they have the
            highest rating.</p>
   </div>


{% for names in hottest_companies %}
    <div class="row">
        <div class="col m8 s10 offset-m2 offset-s1 grey lighten-5 hot-company">
            <div class="row">
                <div class="col s10 offset-s1">
                    <h5><i class="fas fa-fire orange-text text-darken-1"></i>Company Name: <span class="upper-case">{{ names.company_name }}</span></h5>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col s10 offset-s1">
                    <p>Number of reviews: <span class="count">{{ names.reviews_count}}</span></p>
                </div>
            </div>
            <div class="row">
                <div class="col s10 offset-s1">
                    <p>Description: <span class="upper-case">{{ names.description}}</span></p>
                </div>
            </div>
            <hr>
            <div class="row">
                <div class="col s10 offset-s1">
                    <a href="{{ url_for('views_hottest_companies', company_name=names.company_name) }}">Go to <span class="upper-case blue-text">{{ names.company_name }}</span></a>
                </div>
            </div>
        </div>
    </div>
</div>
{% endfor %}


{% endblock %}
