{% extends "base.html" %}
{% block content %}

<div class="header-image">
    <form class="serach-form" method="POST" action="">
        <label class="search-bar-label" name="company-name" for="company-name">Company Name</label>
        <div class="input-wrapper">
            <input type="text" id="company-name" name="company-name">
            <button id="serach-submit" class="serch-button btn light-blue accent-4" type="submit required"
                name="action"><span>Search</span>
                <i class="fas fa-sign-in-alt sign-in-icon"></i><i class="fas fa-search search-icon"></i>
            </button>
        </div>
    </form>
    <div class="header-heading">
        <h1>Every review tells a story.</h1>
    </div>
</div>
<!-- reviews-search -->
<div id="review-search">
    {% if company|length > 0 %}
        <h2 class="black-text text-darken-4 center-align review-search-heading">Results for <span class="found-name">
                {{ company.company_name }}
            </span></h2>
        <div class="row">
            <div class="col m10 s10 offset-m1 offset-s1 grey lighten-5 search-comapany-container card-panel">
                <div class="text-darken-4 search-company-results">
                    <p class="blue-text"><i class="fas fa-star green-text"></i>CustomerReviews</p>
                    <p>Company Name:<span class="upper-case">{{ company.company_name }}</span></p>
                    {% if review|length > 0 %}
                        <p> Total Score:<span class="upper-case">{{ company_score }}/10</span></p>

                    {% else %}

                         <p> Score: No Score Yet</p>

                    {% endif %}

                    <p>Description: <span class="capital"> {{ company.description }} </span> </p>
                </div>

                {% if session["user"] %}

                    <div class="add-review-btn">
                        <p class="blue-text">Add review</p>
                        <button id="add-review-button" class="btn light-blue accent-4" type="button">
                            <a class="white-text" href="#"> <span>Add A Review</span> <i class="fas fa-sign-in-alt"></i></a></button>
                    </div>

                {% else %}

                    <div class="add-review-btn">
                        <p class="blue-text">Add review</p>
                        <button id="add-review-button" class="btn light-blue accent-4" type="button"
                            onClick="alert('Please login to write a review')">
                            <a class="white-text" href="#"> <span>Add A Review</span><i class="fas fa-sign-in-alt review-in-icon"></i></a></button>
                    </div>

                {% endif %}

                </div>
            </div>

        {% if review|length > 0 %}
            {% for set in review %}

                <div class="row small-top-margin">
                    <div class="col m8 s10 offset-m2 offset-s1 grey lighten-5 review">
                        <div class="row">
                            <div class="col s10 offset-s1 black-text">
                                <h5><i class="fas fa-user"></i>{{ set.username }}</h5>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col s5 offset-s1 black-text">
                                <p>score <span>{{ set.score }}/10</span></p>
                            </div>
                            <div class="col s6  black-text">
                                <p> {{ set.date_created }} </p>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s10 offset-s1">
                                <h6>{{ set.review_title }}</h6>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s10 offset-s1 review-content">
                                <p>{{ set.content }}</p>
                            </div>
                        </div>
                        <hr>
                        {% if session.user|lower == set.username|lower %}
                        <div class="row">
                            <div class="col s3 m1 offset-s1 offset-m1">
                                <a href="#" class="btn-small black-text grey lighten-5">Edit</a>
                            </div>
                            <div class="col s3 m1 offset-s1 offset-m1">
                                <a href="#" class="btn-small black-text grey lighten-5">Delete</a>
                            </div>
                        </div>
                        {% endif %}
                    </div>
                </div>
                
        {% endfor %}
        {% else %}
            <div class="center-align no-reviews-heading">
                <h4>No reviews for this company yet</h4>
            </div>
        {% endif %}
    {% endif %}
</div>


{% endblock %}
