{% extends "base.html" %}
{% block content %}

<div class="row">
    <div class="col s12 m8 offset-m2">
        <div class="card-panel">
            <div class="row">
                <h4 class="center-align blue-text"><i class="fas fa-user blue-text"></i> {{ user.username }}
                </h4>
                <div class="col s11 offset-s1">
                    <p>Username: {{ user.username }}<span class="blue-text"></span></p>
                    <p>Email: {{ user.email }}<span class="blue-text"></span></p>
                    <p>Member since: {{ user.time_created }}<span class="blue-text"></span></p>
                    {% if user.time_updated %}
                     <p>Last updated: {{ user.time_updated }}<span class="blue-text"></span></p>
                    {% endif%}
                </div>
            </div>
            <div class="row">
                <div class="col s3 m1 offset-s1 offset-m1">
                    <a href="{{ url_for('edit_user', user_id=user._id) }}" class="btn light-blue lighten-2">Edit User</a>
                </div>
                <div class="col s3 m1">
                    <a href="{{ url_for('edit_user', user_id=user._id) }}" class="btn  deep-orange lighten-1 delete-user-button">Delete account</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
