{% extends "base.html" %}
{% block content %}

<div class="header-image">
    <form class="serach-form" method="POST" action="{{ url_for('search') }}">
        <label class="search-bar-label" name="company-name" for="company-name">Company Name</label>
        <div class="input-wrapper">
            <input type="text" id="company-name" name="company-name">
            <button class="serch-button btn light-blue accent-4" type="submit" name="action"><span>Search</span>
                <i class="fas fa-sign-in-alt sign-in-icon"></i><i class="fas fa-search search-icon"></i>
            </button>
        </div>
    </form>
    <div class="header-heading">
        <h1>Every review tells a story.</h1>
    </div>
</div>
<div>


</div>
{% endblock %}