{% extends "base.html" %}
{% block content %}


{% if companies|length > 0 %}
<div id="review-search">
    <h1 class="black-text text-darken-4 center-align review-search-heading"> 
        User Companies Profile</h1> 
    {% for company in  companies %}
    <div class="row">
        <div class="col m10 s10 offset-m1 offset-s1 grey lighten-5 search-comapany-container card-panel">
            <div class="text-darken-4 search-company-results">
                <p class="blue-text"><i class="fas fa-star green-text"></i>CustomerReviews </p>
                <p>Company Name:<span class="upper-case">{{ company.company_name }}</span></p>
                <p>Number of Reviews:<span>{{ company.reviews_count }}</span></p>
                <p>Description:<span class="upper-case"> {{ company.description }} </span></p>
            </div>
            <a  class="btn light-blue accent-4 white-text multifunctional-btn" onClick="alert('To Delete  company please confirm by clicking  OK')"
            href="{{ url_for('delete_company', company_id=company._id) }}">Delete Company</i>
            </a>
        </div>
    </div>
    {% endfor %}
    {% else %}
    <div class="center-align no-reviews-heading">
        <h4>You did not add any company Yet.</h4>
    </div>

</div>
{% endif %}


{% endblock %}
